<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refit.app.domain.analysis.mapper.AnalysisMapper">

  <select id="selectHealthInfo" parameterType="long"
    resultType="com.refit.app.domain.analysis.dto.AnalysisHealthInfoDto">
    SELECT MEMBER_ID, BLOOD_PRESSURE, BLOOD_GLUCOSE,
    TOTAL_CALORIES_BURNED, SLEEPSESSION
    FROM HEALTH_INFO
    WHERE MEMBER_ID = #{memberId}
  </select>

  <select id="selectSkinConcern" parameterType="long"
    resultType="com.refit.app.domain.analysis.dto.AnalysisSkinConcernDto">
    SELECT SKIN_TYPE, ATOPIC, ACNE, WHITENING, SEBUM, INNER_DRYNESS,
    WRINKLES, ENLARGED_PORES, REDNESS, KERATIN
    FROM SKIN_CONCERN
    WHERE MEMBER_ID = #{memberId}
  </select>

  <select id="selectHealthConcern" parameterType="long"
    resultType="com.refit.app.domain.analysis.dto.AnalysisHealthConcernDto">
    SELECT EYE_HEALTH, FATIGUE, SLEEP_STRESS, IMMUNE_CARE,
    MUSCLE_HEALTH, GUT_HEALTH, BLOOD_CIRCULATION
    FROM HEALTH_CONCERN
    WHERE MEMBER_ID = #{memberId}
  </select>

</mapper>
