<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.refit.app.domain.chat.mapper.ChatMapper">
  <insert id="insertFromRequest" parameterType="map">
    <selectKey keyProperty="chatId" resultType="long" order="BEFORE">
      SELECT CHAT_MESSAGE_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO CHAT_MESSAGE (
    CHAT_ID, CATEGORY_ID, MEMBER_ID, PRODUCT_ID, MESSAGE_CONTENT
    ) VALUES (
    #{chatId},
    #{req.categoryId},
    #{req.memberId},
    #{req.productId},
    #{req.message}
    )
  </insert>

  <select id="findByIdWithNickname"
    resultType="com.refit.app.domain.chat.dto.response.ChatMessageResponse">
    SELECT
      cm.CATEGORY_ID       AS categoryId,
      cm.MEMBER_ID         AS memberId,
      m.NICKNAME           AS nickname,
      cm.PRODUCT_ID        AS productId,
      cm.MESSAGE_CONTENT   AS message,
      cm.CREATED_AT        AS createdAt
    FROM CHAT_MESSAGE cm
           LEFT JOIN MEMBER m ON m.MEMBER_ID = cm.MEMBER_ID
    WHERE cm.CHAT_ID = #{chatId}
  </select>
</mapper>