<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refit.app.auth.mapper.ConcernMapper">
  <update id="mergeHealth">
    MERGE INTO HEALTH_CONCERN t
    USING (SELECT #{memberId} AS MEMBER_ID FROM dual) s
    ON (t.MEMBER_ID = s.MEMBER_ID)
    WHEN MATCHED THEN UPDATE SET
    EYE_HEALTH = #{h.eyeHealth},
    FATIGUE = #{h.fatigue},
    SLEEP_STRESS = #{h.sleepStress},
    IMMUNE_CARE = #{h.immuneCare},
    MUSCLE_HEALTH = #{h.muscleHealth},
    GUT_HEALTH = #{h.gutHealth},
    BLOOD_CIRCULATION = #{h.bloodCirculation},
    UPDATED_AT = SYSTIMESTAMP, UPDATED_BY = 0
    WHEN NOT MATCHED THEN INSERT (
    MEMBER_ID, EYE_HEALTH, FATIGUE, SLEEP_STRESS, IMMUNE_CARE,
    MUSCLE_HEALTH, GUT_HEALTH, BLOOD_CIRCULATION,
    CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
    ) VALUES (
    #{memberId}, #{h.eyeHealth}, #{h.fatigue}, #{h.sleepStress}, #{h.immuneCare},
    #{h.muscleHealth}, #{h.gutHealth}, #{h.bloodCirculation},
    SYSTIMESTAMP, 0, SYSTIMESTAMP, 0
    )
  </update>
</mapper>